<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header-subpages.ejs') %>
  <main>
    
    <section class="content details">
      <div class="sidebar">
        <h2>Location</h2>
        <address><%= site.address %><br><%= site.city %>, IL <%= site.zip %></address>
        <p>Coordinates: <%= site.lat %>, <%= site.long %></p>
        <div id="mapid"></div>
        <h2>Contact Us</h2>
        <p><a class="btn primary" href="tel:<%= site.phone %>"><i class="fas fa-phone-alt"></i> <%= site.phone %></a></p>
      </div>
      <div class="main-content">
        <img src="/img/<%= site.file %>.jpg" alt="">
        <h2 class="page-title"><%= site.name %></h2>
        <p><%= site.info %></p>
        <h3>Activities</h3>
        <p class="site-activities"><%= site.activities %></p>
        <div class="activities-list"></div>
        <h3>Learn More</h3>
        <p><a href="<%= site.link %>">Visit <%= site.name %>'s DNR site</a></p>
        <br>
        <a class="btn" href="/"><i class="fas fa-arrow-circle-left"></i> Back to List of Sites</a>
      </div>
    </section>
  </main>
  <%- include('../partials/footer.ejs') %>
  <script>
    document.addEventListener('DOMContentLoaded', getMap);

    function getMap() {
      const mymap = L.map('mapid').setView(['<%= site.lat %>', '<%= site.long %>'], 10);
      const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">Open Street Map</a> contributors';
      const tileURL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      const tiles = L.tileLayer(tileURL, {
        attribution
      });
      tiles.addTo(mymap);
      L.marker(['<%= site.lat %>', '<%= site.long %>']).addTo(mymap);
    }
  </script>
</body>
</html>