<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header-subpages.ejs') %>
  <main>
    
    <section class="content details">
      <div class="sidebar">
        <h2>Location</h2>
        <address><%= site.address %><br><%= site.city %>, IL <%= site.zip %></address>
        <p>Coordinates: <%= site.lat %>, <%= site.long %></p>
        <h2>Contact Us</h2>
        <p><%= site.phone %></p>
      </div>
      <div class="main-content">
        <h2><%= site.name %></h2>
        <img src="/img/<%= site.file %>.jpg" alt="">
        <p><%= site.info %></p>
        <h3>Activities</h3>
        <p><%= site.activities %></p>
        <h3>Learn More</h3>
        <p><a href="<%= site.link %>">Visit <%= site.name %>'s DNR site</a></p>
        <a href="/">Back to List of Sites</a>
      </div>
    </section>
  </main>
  <%- include('../partials/footer.ejs') %>

</body>
</html>