<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header-subpages.ejs') %>
  <main>
    <article class="content details">
      <h2><%= site.name %></h2>
      <div class="main-content">
        <address><%= site.address %><br><%= site.city %>, <%= site.state %> <%= site.zip %></address>
        <p><%= site.phone %></p>
        <p>Coordinates: <%= site.lat %>, <%= site.long %></p>
        <p><%= site.info %></p>
        <img src="/img/<%= site.file %>.jpg" alt="picture">
        <p><%= site.activities %></p>
        <p><a href="<%= site.link %>">Visit <%= site.name %>'s DNR site</a></p>
      </div>
    </article>
  </main>
  <%- include('../partials/footer.ejs') %>

</body>
</html>