<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body class="homepage">
  <%- include('../partials/header.ejs') %>
  <main id="allSites">
    <article class="content sites">
      <h2>All Sites</h2>
      <ul class="site-list">
        <% if (sites.length > 0) { %>
          <% sites.forEach(site => { %>
            <li>
              <a href="/sites/<%= site._id %>">
                <img src="/img/<%= site.file %>.jpg" alt="">
                <div class="site-info">
                  <h3 class="title"><%= site.name %></h3>
                  <span><%= site.city %>, IL</span>
                </div>
              </a>
            </li>
          <% }) %>
        <% } else { %>
          <p>There are no sites.</p>
        <% } %>
      </ul>
    </article>
    <div id="homeMapId"></div>
  </main>
  <%- include('../partials/footer.ejs') %>
  <script>
    document.addEventListener('DOMContentLoaded', getMap);

    function getMap() {
      const mymap = L.map('homeMapId', {
        center: ['39.836494517397114', '-89.65881995640241'], 
        zoom: 9,
        scrollWheelZoom: false
      });
      const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">Open Street Map</a> contributors';
      const tileURL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      const tiles = L.tileLayer(tileURL, {
        attribution      
      });
      tiles.addTo(mymap);
      <% sites.forEach(site => { %>
        L.marker(['<%= site.lat %>', '<%= site.long %>']).addTo(mymap).bindTooltip('<%= site.name %>');
      <% }) %>
    }
  </script>
</body>
</html>